h4, h5, h6 {
    color: #74748e;
}

.imgCard {
    height: 15rem;
    width: auto
}

.card-img-top {
    height: 100%;
    width: 100%;
}

.btnAddSub {
    background-color: #74748e;
    border: none;
    border-radius: .2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: .2rem;
    transition: all .2s ease-in-out;
}

.btnAddSub > .bi {
    font-size: 1.2rem;
    letter-spacing: 0;
}

.btnAddSub:hover {
    color: white;
    background-color: #9bb992;
    cursor: pointer;
}