/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9797b9;
}

.contLogo {
    display: flex;
    align-items: center;
}

.logoNav {
    height: 2rem;
    width: auto;
}

.navMenu {
    display: flex;
    list-style: none;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
    text-decoration: none;
    letter-spacing: .2rem;
    transition: all .2s ease-in-out;
}

.menuItem:hover {
    color: white;
    background-color: #74748e;
    cursor: pointer;
}