h4, h5, h6 {
    color: #74748e;
}

.cartItemCard {
    width: 19rem;
}

.cartImgCard {
    height: 15rem;
    width: auto
}

.card-img-top {
    height: 100%;
    width: auto;
}

.btnAddSub {
    background-color: #74748e;
    border: none;
    border-radius: .2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: .2rem;
    transition: all .2s ease-in-out;
}

.btnAddSub:hover {
    color: white;
    background-color: #9bb992;
    cursor: pointer;
}

.bubbleRemove {
    background-color: #74748e;
    border: none;
    border-radius: 2rem;
    padding: .5rem;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.bubbleRemove:hover {
    color: white;
    background-color: #9bb992;
    cursor: pointer;
}