h4, h5, h6 {
    color: #74748e;
}

.cartImgCard {
    height: 15rem;
    width: auto
}

.card-img-top {
    height: 100%;
    width: auto;
}

.btnAddSub {
    background-color: #74748e;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.btnAddSub:hover {
    color: white;
    background-color: #9bb992;
    cursor: pointer;
}